.companies {
  padding: 43px 0 150px 0;
  background: #fff;
  position: relative;

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #E2B56C;
    margin-bottom: 119px;
  }

  .image {
    margin: 0 70px;
  }

  //slider dots begin

  .slick-dots {
    position: absolute;
    bottom: -51px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    right: 0;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    margin: 0 18px 0 18px;
    background: #9696C8;
    border: 1px solid #6566A7;
    border-radius: 50%;
  }

  .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    background: #525395;
    border: 1px solid #2B2C67;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
  }

  .slick-dots li button:before {
    content: "";
  }

  //slider dots end

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 1px;
  }

  .slick-prev.slick-arrow {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .arrow {
    max-width: 25px;
    max-height: 75px;
  }

  .slick-prev, .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 25px;
    height: 75px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #918C8C;
    outline: none;
    background: transparent;
    z-index: 1;
  }

  ///slick-prev slick-next end

  .companies-slider {
    outline: none !important;
  }

  //media

  @media (max-width: 991px) {
    padding: 44px 0 80px 0;

    h4 {
      margin-bottom: 58px;
    }
  }

  @media (max-width: 540px) {
    padding: 65px 0 64px 0;

    h4 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 13px;
    }

    .slick-dots {
      bottom: -38px;
    }

    .slick-dots li {
      width: 9px;
      height: 9px;
      margin: 0 11px 0 11px;
    }

    .slick-dots li.slick-active {
      width: 9px;
      height: 9px;
    }
  }

  @media (max-width: 480px) {
    padding: 19px 0 29px 0;

    h4 {
      margin-bottom: 11px;
    }

    .image {
      margin: 0 40px;
    }
  }
}