.contacts {
  padding-top: 74px;
  padding-bottom: 85px;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 380px;
    max-width: 380px;
    width: 100%;
    text-decoration: none;
    background: #3A5898;
    cursor: pointer;
  }

  .telegram:hover {
    background: #5177CA;
  }

  .viber:hover {
    background: #FFB1AC !important;
  }

  .phone:hover {
    background: #5177CA;
  }

    h6 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 0;
    }

  .line {
    height: 3px;
    width: 66px;
    background: #5F9FFF;
  }

    p, p a {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 0;
      text-decoration: none;
    }


  //media

  @media (max-width: 991px) {
    padding: 43px 0 50px 0;

    .icon-phone-alt:before {
      font-size: 57px;
    }
    .icon-phone-volume:before {
      font-size: 57px;
    }
    .icon-telegram-plane:before {
      font-size: 57px;
    }

    h6 {
      font-size: 18px;
      line-height: 22px;
    }

    p, p a {
      font-size: 13px;
      line-height: 16px;
      max-width: 127px;
    }
  }

  @media (max-width: 767px) {
    padding: 39px 0 57px 0;

    .icon-phone-alt:before {
      font-size: 70px;
    }
    .icon-phone-volume:before {
      font-size: 82px;
    }
    .icon-telegram-plane:before {
      font-size: 70px;
    }

    p, p a {
      font-size: 12px;
      line-height: 15px;
      max-width: 245px;
    }

    .item {
      margin-bottom: 23px;
      max-height: 280px;
      max-width: 294px;
    }
  }

  @media (max-width: 480px) {
    padding: 39px 0 33px 0;
  }
}