.reviews {
  padding-top: 69px;
  padding-bottom: 77px;

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #E19D9C;
    margin-bottom: 33px;
  }

  .slick-track {
    display: flex;
  }

  .item {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    padding: 16px 0 36px 38px;
    margin: 25px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    p {
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      margin-bottom: 20px;
      max-width: 290px;
    }

    .image {
      margin-right: 13px;
      width: 69px;
      height: 69px;
    }

    .bottom {
      display: flex;
      align-items: flex-end;
    }

    .info {
      margin-bottom: 20px;
    }

    .name {
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #E19D9C;
      margin-bottom: 0;
    }

    .town {
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #E19D9C;
      margin-bottom: 0px;
    }
  }

  .reviews-slider {
    outline: none !important;
  }

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 1px;
  }

  .slick-prev {
    left: -25px;
  }

  .slick-next {
    right: -25px;
  }

  .arrow {
    max-width: 25px;
    max-height: 75px;
  }

  .slick-prev, .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 25px;
    height: 75px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #918C8C;
    outline: none;
    background: transparent;
    z-index: 1;
  }

  ///slick-prev slick-next end

  //slider dots begin

  .slick-dots {
    position: absolute;
    bottom: -51px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    right: 0;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    margin: 0 18px 0 18px;
    background: #9696C8;
    border: 1px solid #6566A7;
    border-radius: 50%;
  }

  .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    background: #525395;
    border: 1px solid #2B2C67;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
  }

  .slick-dots li button:before {
    content: "";
  }

  //slider dots end

  //media

  @media (max-width: 991px) {
    padding: 70px 0 46px 0;

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    h4 {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 767px) {
    padding: 29px 0;

    h4 {
      margin-bottom: 11px;
    }

    .slick-dots {
      bottom: -38px;
    }

    .slick-dots li {
      width: 9px;
      height: 9px;
      margin: 0 11px 0 11px;
    }

    .slick-dots li.slick-active {
      width: 9px;
      height: 9px;
    }

    .item p {
      max-width: 100%;
    }
  }

  @media (max-width: 480px) {
    .item .image {
      margin-right: 13px;
      width: 69px;
      height: 69px;
    }

    h4 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
    }

    .bottom {
      display: flex;
      align-items: flex-end;
    }

    .item {
      margin: 25px 0;
      padding: 12px 19px 28px 19px;
    }

    .info {
      margin-bottom: 20px;
    }

    .name {
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #E19D9C;
      margin-bottom: 0;
    }

    .town {
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #E19D9C;
      margin-bottom: 0px;
    }
  }
}
