.washing {
  background: linear-gradient(180deg, rgba(41, 41, 61, 0.6) 0%, rgba(65, 25, 34, 0.6) 100%), url("../../public/images/bg-washing.png") center no-repeat;
  background-size: cover;
  padding: 268px 0 272px 0;

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 21px;
  }

  p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 525px;
  }

  .sub-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 46px;

    span {
      font-weight: bold;
    }
  }

  .button {
    .btn {
      background: #E19D9C;
      border-radius: 10px;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.08em;
      color: #FFFFFF;
      margin-bottom: 0;
      box-shadow: none !important;
      outline: none !important;
      padding: 18px 70px;

      &:hover {
        background: rgba(250, 150, 146, 0.9);
      }
    }
  }

  //media

  @media (max-width: 991px) {
    padding: 95px 0 45px 0;

    h4 {
      font-size: 24px;
      line-height: 29px;
    }

    p {
      max-width: 334px;
    }

    .sub-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 86px;
      max-width: 100%;

      span {
        font-weight: bold;
      }
    }

    .button {
      .btn {
        background: #E19D9C;
        border-radius: 10px;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        margin-bottom: 0;
        box-shadow: none !important;
        outline: none !important;
        padding: 18px 70px;

        &:hover {
          background: rgba(250, 150, 146, 0.9);
        }
      }
    }
  }

  @media (max-width: 855px) {
    .button {
      .btn {
        padding: 18px 45px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0 29px 0;

    h4 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 22px;
      text-align: center;
    }

    p {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      max-width: 525px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 18px;
    }

    .sub-title {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 33px;
    }

    .button {
      text-align: center;
      .btn {
        font-size: 24px;
        line-height: 29px;
        padding: 18px 55px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 21px 0 63px 0;

    h4 {
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 36px;
    }

    .sub-title {
      margin-bottom: 22px;
    }

    .button {
      text-align: center;
      .btn {
        padding: 18px 10px;
      }
    }
  }

}